body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.6rem;
    background: #d6e1f0;
    color: rgb(241, 241, 241);
  }
  .container {
    width: 50%;
    min-width: 400px;
    max-width: 700px;
    background: rgb(105, 112, 216);
    border-radius: 6px;
    border: 2px solid rgb(225, 239, 255);
    padding: 20px 40px;
    box-shadow: 0 2px 18px rgba(58, 58, 58, 0.307);
    cursor: pointer;
    transition: 0.2s;
  }
  .app:hover {
    transform: scale(1.01);
  }

  .contents {
      font-size: 20px;
      font-weight: 300;
      padding-top: 20px;
  }